extends layout

block content
    //- header.bar.bar-nav
    //-    a.icon.icon-left-nav.pull-left(href='javascript:history.back()')
    //-    h1.title(href='/')=title

    //- nav.breadcrumbs
    //-     ul
    //-         li
    //-             a(href="/") Home

    div#bg(background-directive ng-view)