extends master_template

block content

    p bitte kategorie des essens auswählen

    ul
        li auswahl1
        li auswahl2
        li auswahl3
        li auswahl4

    p #{url}
    p #{url2}

    a#continue(href="/share-category") share-category

    br

    a#continue(href="/share-categories") share-categories