body {
    padding-top: 50px;
}

.result-table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}
.result-table td { padding: 8px; }
.result-table > tbody > tr > td:first-child {
    width: 25%;
    max-width: 300px;
    text-align: right;
}
.result-table td table {
    background-color: lightblue;
    text-align: right;
}
.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-image: url("../imgs/mushrooms.jpg");
  background-position: center top;
  z-index: 1
}
.index {
  position: relative;
  text-align: center;
  top: 25%;
}
.indexText {
	text-shadow: 1px 1px 1px #ccc;
}
.indexImg {
	color: black;
	text-shadow: 1px 1px 1px #ccc;
	padding: 15px;
}
.newControlls {
  position: relative;
  padding-top: 50px;
}
.new {
  position: relative;
  text-align: center;
  top: 25%;
}
.item {
  position: relative;
  text-align: center;
  top: 25%;
}
.itemChoices {
  margin-left:auto; 
  margin-right:auto;
  text-align: left;
}
.votedForText {
  color: black;
}