html, body {
    overflow-x: hidden;
}

.result-table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}
.result-table td { padding: 8px; }
.result-table > tbody > tr > td:first-child {
    width: 25%;
    max-width: 300px;
    text-align: right;
}
.result-table td table {
    background-color: lightblue;
    text-align: right;
}

#bg{
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.parentContainer{
  display: flex;
  align-items: center;
  text-align: center;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-150{
    margin-top: 100px;
}

.margin-top-200{
    margin-top: 200px;
}
.margin-top-250{
    margin-top: 250px;
}

.background{
    background-color: rgba(255, 255, 255, 0.9);
}