html, body {
    overflow-x: hidden;
}

.result-table {
    margin: 20px 0;
    width: 100%;
    border-collapse: collapse;
}
.result-table td { padding: 8px; }
.result-table > tbody > tr > td:first-child {
    width: 25%;
    max-width: 300px;
    text-align: right;
}
.result-table td table {
    background-color: lightblue;
    text-align: right;
}

#bg{
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flexContainer{
  display: flex !important;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.margin-top-100{
    margin-top: 100px;
}

.margin-top-150{
    margin-top: 100px;
}

.margin-top-200{
    margin-top: 200px;
}
.margin-top-250{
    margin-top: 250px;
}



.red{
    background-color: rgba(255, 0, 0, 1);
}
.green{
    background-color: rgba(0, 255, 0, 1);
}
.blue{
    background-color: rgba(0, 0, 255, 1);
}


/**
    OVERWRITES FOR METRO-UI
**/
.color-black{
    color: black !important;
}
.height-reset{
    height: auto !important;
}
.background{
    background-color: rgba(255, 255, 255, 0.9) !important;
}