//- SELECT2 CSS
link(href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.css" rel="stylesheet")

//- PIE-CHART CSS
link(href="http://cdnjs.cloudflare.com/ajax/libs/nvd3/1.1.15-beta/nv.d3.min.css" rel="stylesheet")

//- METRO-UI
link(href="/vendor/metro-ui/metro-bootstrap.min.css", rel="stylesheet")
link(href="/vendor/metro-ui/metro-bootstrap-responsive.min.css", rel="stylesheet")
link(href="/vendor/bootstrap.min.css", rel="stylesheet")
link(href="/vendor/metro-ui/iconFont.min.css", rel="stylesheet")
link(href="/stylesheets/style.css", rel="stylesheet")

//- FLATICON
link(href="/vendor/flaticon/flaticon.css", rel="stylesheet")