<div class="item">

    <strong>Question</strong>
    <br>
    {{poll.question}}

<div ng-hide="poll.userVoted">
    <p class="lead">Bitte wähle eine der folgenden Optionen aus.</p>
    <form role="form" ng-submit="vote()">
        <table class="itemChoices">
        <tr ng-repeat="choice in poll.choices" class="radio">
                <td>
                <input type="radio" name="choice" ng-model="poll.userVote" value="{{choice._id}}" id="{{choice._id}}"></td>
                <td><label for="{{choice._id}}">&nbsp;{{choice.text}}</label></td>
            </label></tr>
        </table>
                <button class="btn btn-primary" type="submit"> Vote </button>
    </form>
</div>

<div ng-show="poll.userVoted">
    <table class="result-table">
        <tbody>
            <tr ng-repeat="choice in poll.choices">
                <td>{{choice.text}}</td>
                <td>
                  <table style="width: {{choice.votes.length/poll.totalVotes*80}}%;">
                    <tr>
                        <td>{{choice.votes.length}}</td>
                    </tr>
                  </table>
              </td>
            </tr>
        </tbody>
    </table>
    <p class="votedForText">
        {{poll.totalVotes}} Votes wurden bisher gezählt.
            du hast dich entschieden für: <strong>{{poll.userChoice.text}}</strong>
    </p>
</div>
</div>