<div class="context-padded">

</div>
<div class="content-padded, indexText">
<h3>Lust auf dein Lieblingsessen oder Restaurant?</h1>
<h4>Frage deine Freunde ob sie mitwollen!</h2>
</div>
<div class="content-padded indexImgs">
    <a href="poll/create" ng-click="category=false; newPoll();">
            <i class="fa fa-home fa-5x indexImg"></i>
        </a>
        <a href="poll/create" ng-click="category=true; newPoll();">
            <i class="fa fa-cutlery fa-4x indexImg"></i>
        </a>
</div>