<form class="new" role="form" ng-submit="createPoll()">
<div class="content-padded newQuestion">
    <div ng-show="!category">
        <div class="form-group">
            <h4><label for="selectRestaurant">Habt ihr Lust auf einen Besuch im Restaurant...</label>
            <input id="selectRestaurant"></input><label for="selectRestaurant">?</label></h4>
        </div>
    </div>
    <div ng-show="category">
        <div class="form-group">
            <label for="selectCategory"><h4>Ich habe Lust auf...</h4></label>
            <input id="selectCategory"></input>
        </div>
    </div>
</div>
<div class="newControlls">
        <a href="polls" class="btn" role="button">
            <span class="icon icon-left"></span>
            Zurück zur Übersicht</a>

            <button class="btn btn-positive" type="submit" ng-click=
            "createQuestion()">
                Erstelle eine Umfrage</button>
                </div>
</form>