div.parentContainer.background
    div.container
        div.grid.row
            div.row.col-xs-12
                h1 Lust auf dein Lieblingsessen oder Restaurant?
                div.row
                    div.col-xs-12
                h2 Frage deine Freunde ob sie mitwollen!

div.margin-top-200.parentContainer
    div.container.background
        div.grid.row
                div
                    a.button(href='poll/create', ng-click='category=false; newPoll();') ASDFASDF
                div
                    a.button(href='poll/create', ng-click='category=false; newPoll();') ASDFASDF


//- div.row
//-     div.col-xs-12
//-         h1 Lust auf dein Lieblingsessen oder Restaurant?
//-         h2 Frage deine Freunde ob sie mitwollen!
            //- div.content-padded.indexImgs
            //-     a(href='poll/create', ng-click='category=false; newPoll();')
            //-         i.fa.fa-home.fa-5x.indexImg
            //-     a(href='poll/create', ng-click='category=true; newPoll();')
            //-         i.fa.fa-cutlery.fa-4x.indexImg
