.item
  strong Question
  br
  | {{poll.question}}
  div(ng-hide='poll.userVoted')
    p.lead Bitte wähle eine der folgenden Optionen aus.
    form(role='form', ng-submit='vote()')
      table.itemChoices
        tbody
          tr.radio(ng-repeat='choice in poll.choices')
            td
              input#{{choice._id}}(type='radio', name='choice', ng-model='poll.userVote', value='{{choice._id}}')
            td
              label(for='{{choice._id}}')  {{choice.text}}
      button.btn.btn-primary(type='submit')  Vote
  div(ng-show='poll.userVoted')
    table.result-table
      tbody
        tr(ng-repeat='choice in poll.choices')
          td {{choice.text}}
          td
            table(style='width: {{choice.votes.length/poll.totalVotes*80}}%;')
              tbody
                tr
                  td {{choice.votes.length}}
    nvd3(options='chartOptions', data='chartData', api='api', config='chartConfig')
    p.votedForText
      | {{poll.totalVotes}} Votes wurden bisher gezählt.
      span(ng-show='poll.userChoice')
        | Du hast dich entschieden für:
        strong {{poll.userChoice.text}}
