div.flexContainer.background
    div.container
        div.grid.row
            div.row.col-xs-12
                h1 Lokalfinder
                div.row
                    div.col-xs-12
                h2 Abstimmen!

div.margin-top-50
    div.flexContainer
        div.container
            div.grid.row
                div.row.col-xs-12.col-md-8.col-md-offset-2.background.padding-15
                    div(ng-show='!category')
                        div.height-reset.color-black
                            p Welches Restaurant würden Sie gerne mit Ihren Freunden besuchen?
                            p Wählen Sie bitte nachstehend ein Restaurant in Ihrer Umgebung aus!
                    div(ng-show='category')
                        div.height-reset.color-black
                            p Welche Küche würden Sie gerne mit Ihren Freunden besuchen?
                            p Wählen Sie bitte nachstehend eine Küche in Ihrer Umgebung aus!



div(ng-hide='poll.userVoted')
    p.lead Bitte wähle eine der folgenden Optionen aus.
    form(role='form', ng-submit='vote()')
      table.itemChoices
        tbody
          tr.radio(ng-repeat='choice in poll.choices')
            td
              input(type='radio', name='choice', ng-model='poll.userVote', value='{{choice._id}}', ng-attr-id="{{choice._id}}")
            td
              label(for='{{choice._id}}')
              {{choice.text}}
      button.btn.btn-primary(type='submit')  Vote
  div(ng-show='poll.userVoted')
    table.result-table
      tbody
        tr(ng-repeat='choice in poll.choices')
          td {{choice.text}}
          td
            table(style='width: {{choice.votes.length/poll.totalVotes*80}}%;')
              tbody
                tr
                  td {{choice.votes.length}}
    nvd3(options='chartOptions', data='chartData', api='api', config='chartConfig')
    p.votedForText
      | {{poll.totalVotes}} Votes wurden bisher gezählt.
      span(ng-show='poll.userChoice')
        | Du hast dich entschieden für:
        strong {{poll.userChoice.text}}
